.Normal_text {font-family:'Ubuntu';font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;text-transform: none;color:#363636;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'xr1_Kreon';font-weight:bold;font-style:normal;font-size:40px;text-decoration:none;text-transform: none;color:#363636;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_2 {font-size:32px;}
.Heading_3 {font-size:24px;color:#D37115;}
